In [1]:
import numpy as np
import pandas as pd

In [2]:
# create a dataframe from a dictionary

d = {'A':[1,2,np.nan],'B':[5,np.nan,np.nan],'C':[1,2,3]}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [5]:
# drop any rows with missing values / nulls : dropna

df.dropna()

     A    B  C
0  1.0  5.0  1

In [6]:
# drop any columns with null value

df.dropna(axis=1)

   C
0  1
1  2
2  3

In [7]:
# specify a threshold of how many non-NA values required to be dropped
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [8]:
# replace / fill-in the missing values

df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [9]:
# fill in nulls with mean of the col

df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64