# basic numbers & arithmetic

In [2]:
1

1

In [3]:
1.0

1.0

In [4]:
1 + 2

3

In [5]:
2 + 3 * 5 + 5

22

In [6]:
4 % 2

0

In [7]:
5 % 2

1

In [8]:
9 % 5

4

# Strings

In [10]:
'single quotes'

'single quotes'

In [11]:
"double quotes"

'double quotes'

In [12]:
# you can wrap single quotes around double quotes, and vice versa

In [13]:
'this is a "quote"'

'this is a "quote"'

In [14]:
"this is also a 'quote'"

"this is also a 'quote'"

In [15]:
# printing strings
x = 'hello'

In [16]:
x

'hello'

In [17]:
print(x)

hello

In [18]:
# format print statements
num = 12
name = 'Sam'

In [20]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is Sam

In [21]:
print('My number is {one} and my name is {two}'.format(one=num,two=name))

My number is 12 and my name is Sam

In [24]:
# sting indexing

In [25]:
s = 'hello'

In [26]:
s[0]

'h'

In [27]:
s[3]

'l'

# slice notation

In [50]:
s = 'abcdefghijk'

In [29]:
s[0]

'a'

In [30]:
s[0:4]

'abcd'

In [31]:
s[0:]

'abcdefghijk'

In [32]:
s[4:]

'efghijk'

In [33]:
s[:4]

'abcd'

# Lists

In [35]:
my_list = ['a','b','c']

In [36]:
my_list.append('d')

In [37]:
my_list

['a', 'b', 'c', 'd']

In [38]:
my_list[0]

'a'

In [39]:
my_list[1:3]

['b', 'c']

In [40]:
my_list[0] = 'NEW'
my_list

['NEW', 'b', 'c', 'd']

In [41]:
# you can nest a list inside another list
nest = [1,2,[3,4]]

In [42]:
nest[2]

[3, 4]

In [43]:
nest[1]

2

In [44]:
nest[2][1]

4

In [45]:
nest = [1,2,3,[4,5,['target']]]

In [48]:
nest[3][2][0]

'target'

In [1]:


###  Part 2  ###

In [2]:
# Dictionaries

d = {'key1':'value1','key2':123}

In [3]:
d[0]

KeyError: 0

In [7]:
d1 = {'k1':{'innerkey':[1,2,3]}}

In [8]:
d1['k1']

{'innerkey': [1, 2, 3]}

In [9]:
# call nested index
d1['k1']['innerkey'][1]

2

In [10]:
# tuples are immutable, lists are mutable

In [13]:
# sets
# sets will collection of 'unique' elements
set([1,1,1,2,2,2,3,3,4,5,5,5,7,6,5])

{1, 2, 3, 4, 5, 6, 7}

In [14]:
# comparison operators

In [15]:
1 > 2

False

In [16]:
1 < 2

True

In [17]:
3 >= 3

True

In [18]:
'hi' == 'bye'

False

In [19]:
'hi' != 'bye'

True

In [20]:
(1 < 2) and (2 < 3)

True

In [21]:
(1 < 2) and (2 > 3)

False

In [22]:
(1 < 2) or (2 > 3)

True

In [23]:
True and True

True

In [24]:
True and False

False

In [25]:
# conditional if - elif - else

In [26]:
if 1 < 2:
    print('yep!')

yep!

In [27]:
# basic format
if True:
    print('Perform some code')

Perform some code

In [28]:
# 
if 1 == 2:
    print('First')
else:
    print('Last')

Last

In [29]:
if 1 != 2:
    print('First')
else:
    print('Last')

First

In [30]:
# multiple conditions
if 1 == 2:
    print('First')
elif 3 == 3:
    print('Middle')
else:
    print('Last')

Middle

In [31]:


###  Part 3  ###

In [32]:
# For loops - allow you to iterate through a sequence

seq = [1,2,3,4,5]

In [33]:
for item in seq:
    print(item)

1
2
3
4
5

In [34]:
# while loop - execute a block of code as long as the condition is true

i = 1

while i < 5:
    print('i is {}'.format(i))
    i = i+1

i is 1
i is 2
i is 3
i is 4

In [35]:
# range - a generator of numeric values

for x in seq:
    print(x)

1
2
3
4
5

In [36]:
range(0,5)

range(0, 5)

In [37]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [38]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [39]:
list(range(10))  # if you provide one number, default is starting at 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
# list comprehension
# basically allows you to save writing when trying to create a for loop to create a loop

x = [1,2,3,4]

In [41]:
out = []

for num in x:
    out.append(num**2)

In [42]:
print(out)

[1, 4, 9, 16]

In [43]:
# do same thing as list comprehension
[num**2 for num in x]

[1, 4, 9, 16]

In [44]:
# Functions

def my_func(param1):
    print(param1)

In [45]:
my_func('hello')

hello

In [48]:
def my_func(name='Default Name'):
    print('Hello ' + name)

In [49]:
my_func('Steve')

Hello Steve

In [50]:
my_func()

Hello Default Name

In [53]:
# return a value to be used in another variable / code

def square(num):
    """
    This is a docstring, basically
    a multi-line comment
    This function squares a number.
    """
    return num**2

In [54]:
output = square(3)

output

9

In [55]:
# doc string

In [56]:


###  Part 4  ###

In [58]:
def times2(num):
    return num*2

In [59]:
times2(5)

10

In [60]:
# map()

seq = [1,2,3,4,5]

In [62]:
# apply times2 func to all items in seq

list(map(times2,seq))

[2, 4, 6, 8, 10]

In [63]:
# lambda expression
t = lambda var:var*2

In [64]:
t(6)

12

In [65]:
# use lambda expression with map

list(map(lambda num: num*3, seq))

[3, 6, 9, 12, 15]

In [67]:
# built-in filter function - similar to map, but filters out items from a sequence

# pass in a funct or lambda expression that filters out and returns boolean values
# only returns values where the expression is true
list(filter(lambda num: num%2 == 0, seq))  # must cast into a list

[2, 4]

In [68]:
# methods - calls you can make off an object that affect the object or return some value

s = 'hello my name is Sam'

In [69]:
s.lower()

'hello my name is sam'

In [70]:
s.upper()

'HELLO MY NAME IS SAM'

In [71]:
s.split()   # default is to split based on white space

['hello', 'my', 'name', 'is', 'Sam']

In [72]:
tweet = 'Go Sports! #Sports'

In [73]:
tweet.split()

['Go', 'Sports!', '#Sports']

In [74]:
# define character to split on
tweet.split('#')

['Go Sports! ', 'Sports']

In [75]:
d = {'k1':1,'k2':2}
d

{'k1': 1, 'k2': 2}

In [76]:
d.keys()

dict_keys(['k1', 'k2'])

In [77]:
# methods for dictionaries

d.items()

dict_items([('k1', 1), ('k2', 2)])

In [78]:
d.values()

dict_values([1, 2])

In [79]:
# useful methods for a list

lst = [1,2,3,4]

In [80]:
# pop an item

In [81]:
lst.pop()

4

In [82]:
first = lst.pop(0)

In [83]:
lst

[2, 3]

In [84]:
lst.append('new')

In [85]:
lst

[2, 3, 'new']

In [86]:
# 'in' operator
# check if item is in a list

'x' in ['x','y','z']

True

In [87]:
# tuple unpacking

x = [(1,2),(3,4),(5,6)]

In [88]:
x[0][1]

2

In [89]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [90]:
# now unpack the tuples
for (a,b) in x:
    print(a)

1
3
5

In [91]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [92]:
email = 'User@domain.com'

In [93]:
email.find('@')

4

In [96]:
list(email.split('@'))[1]

'domain.com'

In [97]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [98]:
caught_speeding(81,True)

'Small Ticket'

In [99]:
caught_speeding(81,False)

'Big Ticket'